<div class="flex flex-col lg:grid grid-cols-2 w-screen h-screen">
    <section class="bg-exxeta-black text-exxeta-white xl:pt-17 xl:px-12 lg:pb-0 pb-6 lg:pt-15 pt-12 px-8 h-auto">
        <ng-content select="[left]"></ng-content>
    </section>
    <section class="h-screen flex flex-col bg-exxeta-white text-exxeta-black xl:pt-17 lg:pt-15 pt-8 xl:px-12 px-8 rounded-tl-exxeta-border-radius rounded-tr-exxeta-border-radius lg:rounded-tl-none lg:rounded-tr-none -mt-3 lg:mt-0">
        <ng-content select="[right]"></ng-content>
    </section>
</div>