<div class="flex flex-col lg:grid grid-cols-2 lg:snap-none">
    <section class="bg-exxeta-black text-exxeta-white xl:pt-12 xl:px-12 lg:pb-0 pb-6 pt-12 px-4 h-auto">
        <ng-content select="[left]"></ng-content>
    </section>
    <section #scrollSnapPoint class="custom-flex lg:h-screen h-full bg-exxeta-white text-exxeta-black xl:pt-12 lg:pt-12 pt-6 pb-0 xl:px-12 px-4 rounded-tl-exxeta-border-radius rounded-tr-exxeta-border-radius lg:rounded-tl-none lg:rounded-tr-none -mt-3 lg:mt-0 ">
        <ng-content select="[right]"></ng-content>
    </section>
</div>