<section
        appIsInViewport
        #isInViewport="IsInViewport"
        *ngFor="let section of sectionsArr; let i = index; last as isLast"
        class="w-full flex h-full overflow-y-scroll flex-col items-center relative snap-start snap-always py-3 custom-hide-scrollbar">
          
            <div
            [@scrollAnimation]="isInViewport.isOnScreen$ | async"
            [@stateAnimation]="isInViewport.isOnScreen$ | async"
            class="w-full">
            
              <div class="animation-element flex-shrink-0 mb-2 p-2 w-full font-bold rounded-exxeta-border-radius bg-exxeta-black font-sen text-exxeta-white text-exxeta-fontsize-m">Welche Bezahlmethoden werden angeboten?</div>

              <div class="animation-element flex-shrink-0 mb-2 p-2 w-full rounded-exxeta-border-radius font-sen text-exxeta-grey-600 text-exxeta-fontsize-s">Die verschiedenen Bezahlsysteme wurden von verschiedenen Institutionen (PostNord, EHI Institute) und Experten (Wottawa, Fentem) nach Popularität und Vorkommen gerankt, aufgrund welcher wir die Bezahlsysteme in drei Kategorien (Old Standards, New Standards, Mobile Payments) aufgeteilt haben und entsprechend bewerten.</div>


              <div class="flex justify-center items-center">

                <ul class="space-y-2">


                  <label *ngFor="let Question of demoQuestionArr"  class="animation-element flex items-center relative">
                    <input type="radio" 
                    class="appearance-none relative h-3 w-3 border border-black rounded-full checked:after:content-[''] checked:after:absolute checked:after:left-1/2 checked:after:top-1/2 checked:after:h-1.5	 checked:after:w-1.5 checked:after:rounded-full checked:after:border-black checked:after:bg-exxeta-black	 checked:after:[transform:translate(-50%,-50%)] checked:bg-[#EBFF59]">
                    <span class="ml-2">{{Question}}</span>
                  </label>

                  
                  
                </ul>
                
              </div>

              <div class="flex justify-center w-full mt-3">
                <input type="text" placeholder="Comment" class="animation-element w-full max-w-[600px] p-1.5 font-sen text-exxeta-fontsize-m rounded-exxeta-border-radius outline-none bg-exxeta-grey-50 text-exxeta-grey-600"> 
              </div>

              <button *ngIf="isLast" class="font-bold font-sen bg-exxeta-black text-exxeta-white text-exxeta-fontsize-s truncate min-w-12 max-w-[400px] h-6 px-3 py-1 rounded-exxeta-border-radius hover:bg-exxeta-white hover:text-exxeta-black border-3 border-exxeta-black transition-all duration-100 ease-in-out mt-4 float-end">Weiter</button>

            </div>
          
        </section>