/* Hide scrollbar for Chrome, Safari and Opera */
.custom-hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-fade-gradient {
  mask: linear-gradient(0deg,#0000,#000 48px calc(100% - 48px),#0000);
  -webkit-mask: linear-gradient(0deg,#0000,#000 48px calc(100% - 48px),#0000);
}
