<two-column-layout>
  <div left>
    <h1 class="font-bold text-5xl mb-8">Justo duo Dolores</h1>
    <p class="w-1/2 line-clamp-2 lg:line-clamp-none">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>

  <div right>


    <span class="flex w-full flex-shrink-0 justify-center overflow-x-scroll custom-hide-scrollbar">
      <h2 class="font-bold text-lg mx-2 underline">Labore</h2>
      <h2 class="font-bold text-lg mx-2">Tempor</h2>
      <h2 class="font-bold text-lg mx-2">Elitr</h2>
      <h2 class="font-bold text-lg mx-2">Justo</h2>
      <h2 class="font-bold text-lg mx-2">Clita</h2>
    </span>

      <section #section class="w-full flex flex-1 flex-col items-center overflow-y-scroll bg-slate-100">

        <div class="flex-shrink-0 h-12 mb-2 w-full rounded-exxeta-border-radius bg-exxeta-grey-600"></div>
        <div class="flex-shrink-0 h-12 mb-2 w-full rounded-exxeta-border-radius bg-exxeta-grey-600"></div>
        <div class="flex-shrink-0 h-6 my-1 ml-auto w-4/5 rounded-exxeta-border-radius bg-exxeta-grey-400"></div>
        <div class="flex-shrink-0 h-6 my-1 ml-auto w-4/5 rounded-exxeta-border-radius bg-exxeta-grey-400"></div>
        <div class="flex-shrink-0 h-6 my-1 ml-auto w-4/5 rounded-exxeta-border-radius bg-exxeta-grey-400"></div>
        <div class="flex-shrink-0 h-8 mt-8 w-4/5 rounded-exxeta-border-radius bg-exxeta-grey-200"></div>
        
        <div class="flex-shrink-0 h-[900px] mt-8 w-4/5 rounded-exxeta-border-radius bg-exxeta-grey-200">dummy spacer</div>

      </section> 
    
  </div>
</two-column-layout>