/* Hide scrollbar for Chrome, Safari and Opera */
.custom-hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-fade-gradient {
  mask: linear-gradient(0deg,#0000,#000 16px calc(100% - 16px),#0000);
  -webkit-mask: linear-gradient(0deg,#0000,#000 16px calc(100% - 16px),#0000);
}

.custom-fade-gradient-x {
  mask: linear-gradient(90deg,#0000,#000 16px calc(100% - 16px),#0000);
  -webkit-mask: linear-gradient(90deg,#0000,#000 16px calc(100% - 16px),#0000);
}

.custom-fade-gradient-bottom {
  mask: linear-gradient(180deg,#0000,#000 0px calc(100% - 16px),#0000);
  -webkit-mask: linear-gradient(180deg,#0000,#000 0px calc(100% - 16px),#0000);
}

.custom-fade-gradient-top {
  mask: linear-gradient(0deg,#0000,#000 0px calc(100% - 16px),#0000);
  -webkit-mask: linear-gradient(0deg,#0000,#000 0px calc(100% - 16px),#0000);
}