<two-column-layout>
  <div left>
    <h1 class="font-bold font-bandeins text-exxeta-fontsize-l lg:text-exxeta-fontsize-3xl leading-none lg:mb-6 mb-4">Justo duo Dolores</h1>
    <p class="w-1/2 font-sen line-clamp-2 lg:line-clamp-none text-exxeta-fontsize-m">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>

  <div right>

    <div class="flex justify-center w-full">
      <ul class="flex w-min overflow-x-scroll  custom-hide-scrollbar bg-white p-1 rounded-full shadow-exxeta-boxshadow">
        <li (click)="loadJourneyPhase(questionTypeOne)" class="flex-shrink-0 bg-white cursor-pointer font-sen font-bold text-exxeta-fontsize-s 
        flex items-center justify-center text-exxeta-black truncate max-w-18 py-1 px-1.5 transition-colors duration-100 ease-in-out rounded-exxeta-border-radius hover:bg-black hover:text-white">Type1</li>

        <li (click)="loadJourneyPhase(questionTypeTwo)" class="flex-shrink-0 bg-white cursor-pointer font-sen font-bold text-exxeta-fontsize-s 
        flex items-center justify-center text-exxeta-black truncate max-w-18 py-1 px-1.5 transition-colors duration-100 ease-in-out rounded-exxeta-border-radius hover:bg-black hover:text-white">Type2</li>

        <li class="flex-shrink-0 bg-white cursor-pointer font-sen font-bold text-exxeta-fontsize-s 
        flex items-center justify-center text-exxeta-black truncate max-w-18 py-1 px-1.5 transition-colors duration-100 ease-in-out rounded-exxeta-border-radius hover:bg-black hover:text-white">Elitr</li>

        <li class="flex-shrink-0 bg-white cursor-pointer font-sen font-bold text-exxeta-fontsize-s 
        flex items-center justify-center text-exxeta-black truncate max-w-18 py-1 px-1.5 transition-colors duration-100 ease-in-out rounded-exxeta-border-radius hover:bg-black hover:text-white">Justo</li>

        <li class="flex-shrink-0 bg-white cursor-pointer font-sen font-bold text-exxeta-fontsize-s 
        flex items-center justify-center text-exxeta-black truncate max-w-18 py-1 px-1.5 transition-colors duration-100 ease-in-out rounded-exxeta-border-radius hover:bg-black hover:text-white">Clita</li>

      </ul>
    </div>


    <div class="w-full flex-1 flex-grow overflow-y-scroll snap-mandatory snap-y space-y-18 custom-hide-scrollbar custom-fade-gradient">
      <ng-container #questionContainer></ng-container>
    </div>

    
  </div>
</two-column-layout>