<!--Desktop nav view-->
<nav class="hidden lg:block fixed left-1/2 transform -translate-x-1/2 z-50 top-3 bg-white p-1 rounded-full shadow-exxeta-boxshadow">

    <ul class="hidden lg:flex">
        
        <li [routerLink]="['/']" class="bg-white cursor-pointer font-sen font-bold text-exxeta-fontsize-s 
        flex items-center justify-center text-exxeta-black truncate max-w-18 py-1 px-1.5 transition-colors duration-100 ease-in-out rounded-exxeta-border-radius hover:bg-black hover:text-white">Home</li>

        <li [routerLink]="['/debugscreen']" class="bg-white cursor-pointer font-sen font-bold text-exxeta-fontsize-s 
        flex items-center justify-center text-exxeta-black truncate max-w-18 py-1 px-1.5 transition-colors duration-100 ease-in-out rounded-exxeta-border-radius hover:bg-black hover:text-white">Start new Journey</li>

        <li [routerLink]="['/']" class="bg-white cursor-pointer font-sen font-bold text-exxeta-fontsize-s 
        flex items-center justify-center text-exxeta-black truncate max-w-18 py-1 px-1.5 transition-colors duration-100 ease-in-out rounded-exxeta-border-radius hover:bg-black hover:text-white">Journey Scores</li>

    </ul>
</nav>



<!-- Mobile Navigation -->
<nav class="fixed w-full sm:w-[640px] z-[998] top-0 right-0 lg:hidden block">

    <div class="relative m-2">

        <button class="text-exxeta-black w-7 h-5 absolute z-[999] right-0 top-0 focus:outline-none bg-white rounded-exxeta-border-radius pointer-events-auto" [class.shadow-exxeta-boxshadow]="!isOpened" (click)="toggleState()">
            <div class="block w-3 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <span aria-hidden="true"
                class="block absolute h-0.25 w-3 bg-current transform transition duration-500 ease-in-out"
                [class.rotate-45]="isOpened"
                [class.-translate-y-1.5]="!isOpened"></span>
              <span aria-hidden="true"
                class="block absolute  h-0.25 w-3 bg-current transform transition duration-500 ease-in-out"
                [class.opacity-0]="isOpened"></span>
              <span aria-hidden="true"
                class="block absolute  h-0.25 w-3 bg-current transform transition duration-500 ease-in-out"
                [class.-rotate-45]="isOpened"
                [class.translate-y-1.5]="!isOpened"></span>
            </div>
          </button>
          
        
        
        <div
        [@openMobileNav]="isOpened ? 'opened' : 'closed'"
        class="w-auto origin-top-right pt-5 bg-exxeta-white shadow-exxeta-boxshadow rounded-exxeta-border-radius overflow-hidden">
        
            <ul class="flex flex-col w-full space-y-3 px-4 py-3 border-t-2 border-exxeta-grey-100">

                <li class="flex justify-between cursor-pointer items-center w-full group">
                    <span class="block w-full font-sen text-exxeta-fontsize-mobile-nav font-bold">Home</span>
                
                    <svg class="w-2 h-2 flex-shrink-0 group-hover:translate-x-1 group-hover:opacity-70" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.69224 4.26445L1.01099 7.88945C0.864111 8.03633 0.626611 8.03633 0.479736 7.88945L0.257861 7.66758C0.110986 7.5207 0.110986 7.2832 0.257861 7.13633L3.45474 3.99883L0.260986 0.861328C0.114111 0.714453 0.114111 0.476953 0.260986 0.330078L0.482861 0.108203C0.629736 -0.0386719 0.867236 -0.0386719 1.01411 0.108203L4.69536 3.7332C4.83911 3.88008 4.83911 4.11758 4.69224 4.26445Z" fill="black"/>
                    </svg>
                        
                      

                </li>

                <li class="flex justify-between cursor-pointer items-center w-full group">
                    <span class="block w-full font-sen text-exxeta-fontsize-mobile-nav font-bold">Start new Journey</span>
                    <svg class="w-2 h-2 flex-shrink-0 group-hover:translate-x-1 group-hover:opacity-70" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.69224 4.26445L1.01099 7.88945C0.864111 8.03633 0.626611 8.03633 0.479736 7.88945L0.257861 7.66758C0.110986 7.5207 0.110986 7.2832 0.257861 7.13633L3.45474 3.99883L0.260986 0.861328C0.114111 0.714453 0.114111 0.476953 0.260986 0.330078L0.482861 0.108203C0.629736 -0.0386719 0.867236 -0.0386719 1.01411 0.108203L4.69536 3.7332C4.83911 3.88008 4.83911 4.11758 4.69224 4.26445Z" fill="black"/>
                    </svg>
                </li>

                <li class="flex justify-between cursor-pointer items-center w-full group">
                    <span class="block w-full font-sen text-exxeta-fontsize-mobile-nav font-bold">Journey Scores</span>
                    <svg class="w-2 h-2 flex-shrink-0 group-hover:translate-x-1 group-hover:opacity-70" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.69224 4.26445L1.01099 7.88945C0.864111 8.03633 0.626611 8.03633 0.479736 7.88945L0.257861 7.66758C0.110986 7.5207 0.110986 7.2832 0.257861 7.13633L3.45474 3.99883L0.260986 0.861328C0.114111 0.714453 0.114111 0.476953 0.260986 0.330078L0.482861 0.108203C0.629736 -0.0386719 0.867236 -0.0386719 1.01411 0.108203L4.69536 3.7332C4.83911 3.88008 4.83911 4.11758 4.69224 4.26445Z" fill="black"/>
                    </svg>
                </li>
        
            </ul>

            <ul class="flex flex-col w-full space-y-3 px-4 py-3  border-t-2 border-exxeta-grey-100">

                <li class="flex justify-between cursor-pointer items-center w-full group">
                    <span class="block w-full font-sen text-exxeta-fontsize-mobile-nav font-bold">Editing Mode</span>
                    <svg class="w-2 h-2 flex-shrink-0 group-hover:translate-x-1 group-hover:opacity-70" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.69224 4.26445L1.01099 7.88945C0.864111 8.03633 0.626611 8.03633 0.479736 7.88945L0.257861 7.66758C0.110986 7.5207 0.110986 7.2832 0.257861 7.13633L3.45474 3.99883L0.260986 0.861328C0.114111 0.714453 0.114111 0.476953 0.260986 0.330078L0.482861 0.108203C0.629736 -0.0386719 0.867236 -0.0386719 1.01411 0.108203L4.69536 3.7332C4.83911 3.88008 4.83911 4.11758 4.69224 4.26445Z" fill="black"/>
                    </svg>
                </li>

            </ul>

            <ul class="flex flex-col w-full space-y-3 px-4 py-3  border-t-2 border-exxeta-grey-100">

                <li class="flex justify-between cursor-pointer items-center w-full group">
                    <span class="block w-full font-sen text-exxeta-fontsize-mobile-nav font-bold">Legal</span>
                    <svg class="w-2 h-2 flex-shrink-0 group-hover:translate-x-1 group-hover:opacity-70" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.69224 4.26445L1.01099 7.88945C0.864111 8.03633 0.626611 8.03633 0.479736 7.88945L0.257861 7.66758C0.110986 7.5207 0.110986 7.2832 0.257861 7.13633L3.45474 3.99883L0.260986 0.861328C0.114111 0.714453 0.114111 0.476953 0.260986 0.330078L0.482861 0.108203C0.629736 -0.0386719 0.867236 -0.0386719 1.01411 0.108203L4.69536 3.7332C4.83911 3.88008 4.83911 4.11758 4.69224 4.26445Z" fill="black"/>
                    </svg>
                </li>

            </ul>

            <ul class="flex flex-col w-full space-y-3 px-4 py-3  border-t-2 border-exxeta-grey-100">

                <li class="flex justify-between cursor-pointer items-center w-full group">
                    <span class="block w-full font-sen text-exxeta-fontsize-mobile-nav font-bold">Abmelden</span>
                </li>
        
            </ul>
        </div>
        
    </div>
    
</nav>
<div (click)="toggleState()" *ngIf="isOpened" @fade class="lg:hidden z-[997] cursor-pointer backdrop-blur-md fixed inset-0 h-screen overflow-auto"></div>



